#container{
    height: 80vh;
    width: 90vw;
    margin: auto;
    border: 3px solid black;
}
h1{
    text-align: center;
    text-decoration: wavy;
}
#box{
    position: relative;
    height: 70px;
    width: 70px;
    border: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    font-size: 0.9em;
    background-color:purple;
    color: white;
}